<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jmu.hw.dao.BookMapper">
  <resultMap id="BaseResultMap" type="jmu.hw.po.Book">
    <id column="book_id" jdbcType="INTEGER" property="bookId" />
    <result column="book_callno" jdbcType="CHAR" property="bookCallno" />
    <result column="book_state" jdbcType="VARCHAR" property="bookState" />
    <result column="book_damage" jdbcType="TINYINT" property="bookDamage" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    book_id, book_callno, book_state, book_damage
  </sql>
  <select id="selectByExample" parameterType="jmu.hw.po.BookExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from book
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from book
    where book_id = #{bookId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from book
    where book_id = #{bookId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="jmu.hw.po.BookExample">
    delete from book
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="jmu.hw.po.Book">
    insert into book (book_id, book_callno, book_state, 
      book_damage)
    values (#{bookId,jdbcType=INTEGER}, #{bookCallno,jdbcType=CHAR}, #{bookState,jdbcType=VARCHAR}, 
      #{bookDamage,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="jmu.hw.po.Book">
    insert into book
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bookId != null">
        book_id,
      </if>
      <if test="bookCallno != null">
        book_callno,
      </if>
      <if test="bookState != null">
        book_state,
      </if>
      <if test="bookDamage != null">
        book_damage,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bookId != null">
        #{bookId,jdbcType=INTEGER},
      </if>
      <if test="bookCallno != null">
        #{bookCallno,jdbcType=CHAR},
      </if>
      <if test="bookState != null">
        #{bookState,jdbcType=VARCHAR},
      </if>
      <if test="bookDamage != null">
        #{bookDamage,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="jmu.hw.po.BookExample" resultType="java.lang.Long">
    select count(*) from book
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update book
    <set>
      <if test="record.bookId != null">
        book_id = #{record.bookId,jdbcType=INTEGER},
      </if>
      <if test="record.bookCallno != null">
        book_callno = #{record.bookCallno,jdbcType=CHAR},
      </if>
      <if test="record.bookState != null">
        book_state = #{record.bookState,jdbcType=VARCHAR},
      </if>
      <if test="record.bookDamage != null">
        book_damage = #{record.bookDamage,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update book
    set book_id = #{record.bookId,jdbcType=INTEGER},
      book_callno = #{record.bookCallno,jdbcType=CHAR},
      book_state = #{record.bookState,jdbcType=VARCHAR},
      book_damage = #{record.bookDamage,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="jmu.hw.po.Book">
    update book
    <set>
      <if test="bookCallno != null">
        book_callno = #{bookCallno,jdbcType=CHAR},
      </if>
      <if test="bookState != null">
        book_state = #{bookState,jdbcType=VARCHAR},
      </if>
      <if test="bookDamage != null">
        book_damage = #{bookDamage,jdbcType=TINYINT},
      </if>
    </set>
    where book_id = #{bookId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="jmu.hw.po.Book">
    update book
    set book_callno = #{bookCallno,jdbcType=CHAR},
      book_state = #{bookState,jdbcType=VARCHAR},
      book_damage = #{bookDamage,jdbcType=TINYINT}
    where book_id = #{bookId,jdbcType=INTEGER}
  </update>
</mapper>