<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jmu.hw.dao.ClcMapper">
  <resultMap id="BaseResultMap" type="jmu.hw.po.Clc">
    <id column="clc_id" jdbcType="CHAR" property="clcId" />
    <result column="clc_up_id" jdbcType="CHAR" property="clcUpId" />
    <result column="clc_name" jdbcType="CHAR" property="clcName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    clc_id, clc_up_id, clc_name
  </sql>
  <select id="selectByExample" parameterType="jmu.hw.po.ClcExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from clc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from clc
    where clc_id = #{clcId,jdbcType=CHAR}
  </select>
  <select id="selectByClcId"  resultMap="BaseResultMap">
   select 
   <include refid="Base_Column_List" /> 
   from clc 
   where clc_id =clc_up_id;
  </select>
   <select id="selectByClcIdNot"  resultMap="BaseResultMap">
   select 
   <include refid="Base_Column_List" /> 
   from clc 
   where clc_id !=clc_up_id;
  </select>
   <select id="selectByPart"  resultMap="BaseResultMap">
   select 
   <include refid="Base_Column_List" /> 
   from clc 
   where clc_id not in(select clc_up_id from clc);
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from clc
    where clc_id = #{clcId,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="jmu.hw.po.ClcExample">
    delete from clc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="jmu.hw.po.Clc">
    insert into clc (clc_id, clc_up_id, clc_name
      )
    values (#{clcId,jdbcType=CHAR}, #{clcUpId,jdbcType=CHAR}, #{clcName,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="jmu.hw.po.Clc">
    insert into clc
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="clcId != null">
        clc_id,
      </if>
      <if test="clcUpId != null">
        clc_up_id,
      </if>
      <if test="clcName != null">
        clc_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="clcId != null">
        #{clcId,jdbcType=CHAR},
      </if>
      <if test="clcUpId != null">
        #{clcUpId,jdbcType=CHAR},
      </if>
      <if test="clcName != null">
        #{clcName,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="jmu.hw.po.ClcExample" resultType="java.lang.Long">
    select count(*) from clc
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update clc
    <set>
      <if test="record.clcId != null">
        clc_id = #{record.clcId,jdbcType=CHAR},
      </if>
      <if test="record.clcUpId != null">
        clc_up_id = #{record.clcUpId,jdbcType=CHAR},
      </if>
      <if test="record.clcName != null">
        clc_name = #{record.clcName,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update clc
    set clc_id = #{record.clcId,jdbcType=CHAR},
      clc_up_id = #{record.clcUpId,jdbcType=CHAR},
      clc_name = #{record.clcName,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="jmu.hw.po.Clc">
    update clc
    <set>
      <if test="clcUpId != null">
        clc_up_id = #{clcUpId,jdbcType=CHAR},
      </if>
      <if test="clcName != null">
        clc_name = #{clcName,jdbcType=CHAR},
      </if>
    </set>
    where clc_id = #{clcId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="jmu.hw.po.Clc">
    update clc
    set clc_up_id = #{clcUpId,jdbcType=CHAR},
      clc_name = #{clcName,jdbcType=CHAR}
    where clc_id = #{clcId,jdbcType=CHAR}
  </update>
</mapper>